@import "~bulma/bulma"

body
  margin: 0
.container
  display: flex
  flex-direction: row
  max-width: unset
.map
  flex: 3
  height: calc(100vh - 3em)
.sidebar
  flex: 1
  min-width: 16vw
  padding: 0em 0.25em 1em 0.25em
  scroll-behavior: smooth
  height: calc(100vh - 3em)
  overflow-y: scroll
.menu
  &--list
    list-style: none
    padding-left: 0
  &--item
    display: flex
    flex-direction: column
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12)
    margin:
      top: 0.5em
  &--component
    display: inline-block
    flex: 1
    line-height: 1.75em
    padding: 0.125em 0.75em

.color
  min-height: 3em
  text-align: center
  &--text
    margin: 0
    padding: 1em
    font-weight: bold
    letter-spacing: 0.125em
    text-transform: uppercase
.form
  display: flex
  flex-direction: column
  &--input, &--button
    border:
      radius: 0
    margin:
      top: 0.25em
  .control
    display: flex
    flex-direction: column
    padding: 0.5em 0
    border-top: 1px rgba(0,0,0, 0.12) solid
    .radio + .radio
      margin-left: 0

@include until($tablet)
  .container
    flex-direction: column
    max-height: 100vh
  .sidebar
    height: 50vh
    overflow-y: scroll
  .map
    height: 50vh
    width: 100vw
